#app {
  .content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .top-panel {
      z-index: 1;
      height: $top-panel-height + 0px;
      padding: 1rem 1.5rem;
      background-color: $pt-white;

      box-shadow: 0px 0px 19px -6px $pt-black;
    }

    .map-container {
      position: relative;
      display: flex;

      .mapboxgl-control-container {
        .mapboxgl-ctrl-bottom-left {
          left: unset;
          right: 0;
          bottom: 1rem;
        }
      }

      .scale-controls-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        bottom: 3rem;
        right: 0;

        .mapboxgl-ctrl-scale {
          border-color: $pt-black;
          color: $pt-black;
        }
      }

      .map-controls-container {
        position: absolute;
        $placement-offset: 1rem;

        > * {
          box-shadow: 0px 0px 12px -6px $pt-black;
        }

        &.top {
          top: $placement-offset;
        }

        &.bottom {
          bottom: $placement-offset;
        }

        &.left {
          left: $placement-offset;
        }

        &.right {
          right: $placement-offset;
        }

        &.center {
          left: 50vw; // fallback
        }
      }
    }
  }
}
