.mapbox-geocoder {
  border-radius: $global-radius;

  .mapbox-geocoder-input-container {
    display: flex;
    align-items: center;

    padding: 0.75rem;
    border-radius: $global-radius;

    background-color: $pt-white;

    cursor: text;

    svg {
      margin-right: 0.5rem;
    }

    input[type='search'] {
      border: none;
      padding: unset;
      box-sizing: unset;

      &:focus {
        outline: unset;
      }
    }
  }

  .mapbox-geocoder-results {
    // open animation
    animation: rotateX 400ms ease-in-out forwards;
    transform-origin: top center;
    @keyframes rotateX {
      0% {
        opacity: 0;
        transform: rotateX(-90deg);
      }
      70% {
        transform: rotateX(-20deg);
      }
      100% {
        opacity: 1;
        transform: rotateX(0deg);
      }
    }

    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    background-color: $pt-white;

    div {
      padding: 0.25rem 0.5rem;

      cursor: pointer;

      transition: background-color 0.25s ease-in-out;
      &:hover {
        background-color: lighten($pt-black, 80%);
      }
      &:last-child {
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $pt-black;
      }
    }

    &.no-results {
      div {
        cursor: not-allowed;
        font-style: italic;
        &:hover {
          background-color: unset;
        }
      }
    }
  }

  &.is-open {
    .mapbox-geocoder-input-container {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
      border-bottom: 1px solid $pt-black;
    }
  }
}
