body {
  margin: unset;

  font-family: 'Sniglet', cursive;
  font-size: 1rem;
  color: $pt-black;

  input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  // remove input clear 'X' icon
  input[type='search'] {
    // ie
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    // chrome
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  h1 {
    font-size: 2rem;
  }

  a {
    cursor: pointer;
    color: $pt-blue;
    text-decoration: unset;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.6;
      color: unset;
    }

    &:not(.disabled) {
      transition: color 0.25s ease-in-out;
      &:hover {
        color: darken($pt-blue, 10%);
      }
    }
  }
}
